.wrapper {
    padding: 20px;
}

.button {
    background-color: #338bda;
    border: none;
    color: white;
    padding: 15px;
    width: 100%;
    border-radius: 50px;
    margin-top: 35px;
    transition: .5s;
    cursor: pointer;
}

.button:focus, .button:active, .button:hover {
    outline: none;
}

.button:active, .button:hover {
    background-color: #0265C2;
    transition: .5s;
}

.label {
    color: #a9a9aa;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}