.wrapper {
    padding: 20px;
    width: 100%;
}

.linkResetPassword {
    color: #b7b7b8;
    text-align: right;
    display: block;
    font-size: 13px;
    margin-top: -10px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
}