.wrapper {
  display: flex;
  flex-direction: column;
  flex: auto;
  /*min-height: 100%;*/
  /*height: 100%;*/
  width: 100%;
  background: #1a1a1c;
  padding-top: 60px;
}

.wrapperNoPadding {
  padding-top: 0;
}

.noScroll {
  max-height: 100%;
  overflow-y: hidden;
}
